# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies

# IDEs and editors

#System Files
.DS_Store
Thumbs.db

#Slim .gitignore
/vendor/
.env
/logs/*
!/logs/README.md

#sublimeText
sftp-config.json